/* -- GLOBAL ---------------------------------------------------- */

body {
  background-color: #FFFFFF;
  font-family: verdana, arial, tahoma, sans-serif;
  font-size: small;
  line-height: 1.5em;
  margin: 0px;
  padding: 0px;
  }

.container {
  color: #000000;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

.clearboth{
	clear: both;
	}



/* -- HEADER ---------------------------------------------------- */


.header {
  background-color: #ffffff;
  /*text-align: center;*/
  margin-bottom:0em;
}

.header a {
/*    border: 1px solid black;
*/    width: 310px;
    float: left;
}

.header div {
/*    border: 1px solid black;
*/    width: 600px;
    height: 265px;
    margin-left: 320px;
    line-height: 265px;
    font-size: 30px;
    text-align:center;
}

.header div span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}

/* -- SIDEBAR --------------------------------------------------- */

.sidebar {
/*  border: 1px solid black;
*/  position: relative;
  float: left;
  padding: 0px 0px 0px 0px;
  background-color: #FFFFFF;
  text-align: left;
}

/* -- CONTENT --------------------------------------------------- */

.content {
/*  border: 1px solid black;
*/  padding-left:15px;
  margin-left: 320px;
  background-color: #FFFFFF;
  max-width:50em;
}

.content a {
    color: #1a7d71;
}

.content h1 {
	font-weight:normal;
	line-height:125%;
}

.content h2 {
	font-weight:normal;
}

/* -- FOOTER ---------------------------------------------------- */

.footer {
  font-size: 11px;
  color: #000000;
  margin-left: 0px;
  height: 56px;
  background-color: #FFFFFF;
  text-align: center;
  clear: both;
}

/* -- Menu ------------------------------------------------------ */

#menu {
    background-color: black;
	float: left;
	width: 310px;
	margin: -5px 0px 0px 0px
	}

#menu ul {
	list-style: none;
	}

#menu ul.menuleft {
	float: left;
	margin: 0px 0px 20px 0;
	padding: 0;
	}

#menu ul.menuright {
	margin: 0;
	}

#menu li {
	margin: 0;
	padding: 5px 0px 0px 2px;
	}

#menu a, #menu a:visited {
    /* color: #0000dd; */
    color: white;
    text-decoration: none;
    white-space: nowrap;
    padding: 4px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}

#menu a:hover {
    color: red;
}

/* -- SIDEBAR BOXES --------------------------------------------- */

.boxtop {
  background: transparent url("images/boxtop.gif") top no-repeat;
  font: 1px/5px verdana, arial;
  margin: 0px 0px 0px 4px;
  padding: 0;
  width: 310px;
  height: 5px;
  }
                                    
.box {
  background: transparent url("images/boxbg.gif") repeat-y;
  background-color:white;
  padding: 5px 25px 5px 10px;
  margin: 0px 0px 0px 4px;
  width: 275px;
  }

.boxbottom {
  font: 1px/5px verdana, arial;
  margin: 0px 0px 1em 4px;
  padding: 0;
  width: 310px;
  height: 5px;
  }

/* -- TABLE --------------------------------------------- */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.centered-cell {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}